.footer {
    background-color: #0d0d0d;
    position :fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: -8px;
    overflow-x: hidden;
  }
  .footer p {
    color: #bdbec4;
  }
  .footer a {
    color: #bdbec4;
  }
  .footer a:hover,
  footer a:active {
    color: #ffffff;
  }
  .footer h4 {
    color: #DAC0A3;
  }
  .footer h2{
    color:#ffffff
  }
  .footer hr {
    border: 1px solid #5c5c5c;
  }

  .footerDetail {
    padding: 70px 40px 66px 66px;
    display: flex;
    row-gap: 48px;
  }
  .footerDetail p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }
  .footerDetail h4 {
    margin-bottom: 20px;
  }
  .footerDetail .socialMedia {
    flex-basis: 30%;
    margin-right: 20px;
  }
  .footerDetail .socialMedia p {
    max-width: 252px;
    margin: 16px 0 32px 0;
  }
  .footerDetail .socialMedia .socialMediaLogos {
    display: flex;
    gap: 16px;
  }
  .footerDetail .company {
    flex-basis: 20%;
  }
  .footerDetail .company li {
    margin-bottom: 10px;
  }
  .footerDetail .products {
    flex-basis: 20%;
  }
  .footerDetail .products li {
    margin-bottom: 10px;
  }
  .footerDetail .contactUs p:first-child {
    max-width: 233px;
    margin-bottom: 16px;
  }
  .footerDetail .contactUs .contact {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .policies {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    padding: 0px 32px 32px 32px;
  }
  .policies ul {
    display: flex;
    gap: 12px;
  }
  .policies ul span {
    color: #8f8f8f;
  }
  
  