
.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    border-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #ced4da;
  }

  .form-floating>.form-control {
    border: none;
    border-bottom: 1px solid #ced4da; 
    border-radius: 0; 
  }

  .form-floating>.form-control:focus {
    border-bottom-color: #000; 
  }

  .form-floating {
    position: relative;
  }

  .form-floating>label {
    background: none; 
    padding: 0;
  }

  .form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    top: -1.25rem;
    left: 0;
    z-index: 3;
    scale: .85;
    padding: 0 .75rem; 
    color: #495057; 
  }

  .thin-line {
    height: 1px;
    background-color: #000; 
    border: none;
    margin: 0.5rem 0;
  }
  .container.forgetpassword {
    margin-left: -200px;
    padding-top: 50px; /* Add top padding */
    padding-bottom: 50px; /* Add bottom padding */
  }
  #submitforget {
      font-family: "Your-Font-Family", sans-serif;
      font-size: 15px;

  }
