* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: url("/Registerstion/kk.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.containerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
}

.nav-name p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 500px;
    overflow: hidden;
    z-index: 1;
}

.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    bottom: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.reset-password-container {
    position: absolute;
    right: 5px;
    bottom: 80px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top {
    margin: 20px 0;
}

header,
h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}


.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.input-box .forgotpass {
    position: relative;
    top: -15px;
}

.fa-regular.fa-eye-slash {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust the position as needed */
    transform: translateY(-50%);
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
}

.forgotpass a {
    position: relative;
    top: 20px;
    left: 280px;
    color: #fff;
}

::placeholder {
    color: white;
    opacity: 0.7;
}

.two label a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}


/* ... Your existing CSS styles ... */

.otp-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    
    color: black;
   
}

.lock-icon {
    position: absolute;
    /* top: 80%; */
    left: 10px;
    transform: translateY(-10%);
    color: #fff;
    font-size: 20px;
}


#toggleResetPassword {
position: absolute;
 top :100px; 
 left :470px;
 cursor: pointer;
}

 #toggleConfirmResetPassword{
position: absolute;
top :176px ;
left : 470px ;
cursor: pointer;

}

@media only screen and (max-width: 786px) {
    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        background: rgba(63, 52, 52, 0.162);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.01);
    }
}