.announcement-container {
    background: #000000;
  }

  .header-middle {
    background: #080808;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-color: rgba(255, 255, 255, 0.25);
    overflow-x: hidden;
  }

  .navbar {
    background: #080808;
  }

  .nav-item {
    color: white;
    border-right: 1px solid white;
    font-family: URW DIN SemiCond, sans-serif;
    font-size: 20px;  
    font-weight: 600;
    
  }

/* The line of the last item in nav bar */
  .nav-item:last-child {
    border-right: none;
  }

  .nav-link {
    color: white;
    font-size: 18px;
    margin: 0 20px;
    padding: 0.5rem 0;
    line-height: 1.5;
  }
.navbar .nav-link {
    color: white;
}
  /* Custom CSS to show dropdown on hover */
  .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  }
  .search-input {
    color: black;
  }

  .search-input:focus {
color: white !important;
}
.dropdown-item {
  border-bottom: 1px solid white;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-header {
  color: maroon!important;
  font-weight: bold;
  font-size: 20px;
}

/* Adjust the size of the header items as needed */
.dropdown-menu .dropdown-items-horizontal a {
  font-size: 16px;
}
#loginSignupDropdown:hover + .dropdown-menu {

  margin-right: -60px !important;
}
/* #loginSignupDropdown{
  position: absolute;
  left: 300px;
} */
.dropdown-menu::before {
  content: '';
  position: absolute;
  top: -10px; 
  left: 9%;
  transform: translateX(-50%);
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent; 
}

.navbar .dropdown-menu {
  min-width: 575px;
  margin-right: 250px;
}


.navbar .dropdown-menu .col {
  max-width: 300px;
}


.navbar .dropdown-header {
  margin-left: -13px;
}
#search{
  color: white;
}