.announcement-container {
  background: #000000;
}

.header-middle {
  background: #080808;
  position: relative;

  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-color: rgba(255, 255, 255, 0.25);
}

.navbar {
  background: #080808;
}

.nav-item {
  color: white;
  border-right: 1px solid white;
  font-family: URW DIN SemiCond, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* The line of the last item in nav bar */
.nav-item:last-child {
  border-right: none;
}

.nav-link {
  color: white;
  font-size: 18px;
  margin: 0 20px;
  padding: 0.5rem 0;
  line-height: 1.5;
}
.navbar .nav-link {
  color: white;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.search-input {
  color: black;
}

.search-input:focus {
  color: white !important;
}
.dropdown-item {
  border-bottom: 1px solid white;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-header {
  color: maroon !important;
  font-weight: bold;
  font-size: 20px;
}

.dropdown-menu .dropdown-items-horizontal a {
  font-size: 16px;
}
#loginSignupDropdown:hover + .dropdown-menu {
  margin-right: -60px !important;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 9%;
  transform: translateX(-50%);
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}
/* #loginSignupDropdown::before{ signup dropdown ya mariam
  content: '';
    position: absolute;
    top: -10px; 
    left: 50%;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent; 
} */

.navbar .dropdown-menu {
  min-width: 575px;
  margin-right: 250px;
  padding: 10px;
}

.navbar .dropdown-menu .col {
  max-width: 300px;
}

.navbar .dropdown-header {
  margin-left: -13px;
}
#search {
  color: white;
}

#searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1050;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0.25rem;
  overflow: hidden;
}

.search-result-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-item-image img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.search-item-info {
  display: flex;
  flex-direction: column;
}

.search-item-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: none;
}

.search-item-type,
.search-item-price {
  font-size: 0.8em;
}

.search-item {
  padding: 10px;
  margin: 0;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #000;
  text-decoration: none;
  background-color: #eee;
  width: 100%;
}
.search-item:hover {
  background-color: #eee;
  text-decoration: none;
}
/* Cart icon with counter */
.cart-icon-with-count {
  position: relative;
  display: inline-block;
}

/* Counter badge */
.cart-count {
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  position: absolute;
  top: 10px; /* Adjust if necessary */
  right: 40px; /* Adjust if necessary */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px; /* Ensures a round shape for single digits */
  height: 20px; /* Fixed height for the badge */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  visibility: hidden; /* Hide by default */
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear; /* Smooth transition for the hover effect */
}

/* Show the counter badge when the cart icon is hovered */
.cart-icon-with-count:hover .cart-count {
  visibility: visible; /* Show on hover */
  opacity: 1;
}


/* Responsive styles for small screens (e.g., iPhones) */
@media only screen and (max-width: 768px) {
  /* Adjust the font size and padding for navigation items */
  .nav-item {
    font-size: 16px;
    padding: 0.5rem 0.25rem;
  }

  /* Adjust the font size for the dropdown items */
  .dropdown-menu .dropdown-items-horizontal a {
    font-size: 14px;
  }

  /* Reduce the margin-right for the dropdown menu */
  .navbar .dropdown-menu {
    min-width: 250px;
    margin-right: 250px;
  }
  .navbar .dropdown-menu .col {
    min-width: 100%; /* Set the width to 100% to stack columns vertically */
    margin-right: 0; /* Remove the right margin to prevent unnecessary spacing */
  }

  /* Additional adjustment to space out the dropdown items */
  .dropdown-menu .row {
    margin-bottom: 10px; /* Add some bottom margin to separate items */
  }
  /* Add padding to the search input */
  .input-group {
    padding: 0.25rem;
  }

  /* Adjust the font size for the search input */
  #search {
    font-size: 14px;
  }

  /* Adjust the font size for the search results */
  .search-result-item {
    padding: 8px;
  }

  .search-item-image img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .search-item-name {
    font-size: 14px;
  }

  .search-item-type,
  .search-item-price {
    font-size: 0.7em;
  }

  .navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    width: 400px;
    top: 100%;
    left: 0;
  }
  .dropdown-menu {
    width: 100px;
  }
  /* Adjust the font size for the dropdown items */
  .dropdown-menu .dropdown-items-horizontal a {
    font-size: 14px;
    width: 400px;
  }
}

/* Additional styles for even smaller screens (e.g., iPhone SE) */
@media only screen and (max-width: 576px) {
  /* Adjust font size for the main logo */
  #logo img {
    max-width: 80px;
  }

  /* Adjust font size for small top container text */
  .announcement-container span {
    font-size: 12px;
  }
  .nav-item {
    font-size: 16px;
    padding: 0.5rem 0.25rem;
  }

  /* Adjust the font size for the dropdown items */
  .dropdown-menu .dropdown-items-horizontal a {
    font-size: 14px;
  }

  /* Reduce the margin-right for the dropdown menu */
  .navbar .dropdown-menu {
    min-width: 250px;
    margin-right: 250px;
  }
  .navbar .dropdown-menu .col {
    min-width: 100%; /* Set the width to 100% to stack columns vertically */
    margin-right: 0; /* Remove the right margin to prevent unnecessary spacing */
  }

  /* Additional adjustment to space out the dropdown items */
  .dropdown-menu .row {
    margin-bottom: 10px; /* Add some bottom margin to separate items */
  }
  /* Add padding to the search input */
  .input-group {
    padding: 0.25rem;
  }

  /* Adjust the font size for the search input */
  #search {
    font-size: 14px;
  }

  /* Adjust the font size for the search results */
  .search-result-item {
    padding: 8px;
  }

  .search-item-image img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .search-item-name {
    font-size: 14px;
  }

  .search-item-type,
  .search-item-price {
    font-size: 0.7em;
  }

  .navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    width: 250px;
    top: 100%;
    left: 0;
  }
  .dropdown-menu {
    width: 100px;
  }
  .navbar .dropdown-menu {
    margin: 0 80px; 
  padding: 10px; }
  
  .dropdown-menu .dropdown-items-horizontal a {
    font-size: 14px;
    width: 400px;
  }
  .nav-item {
    border-right: none;
    border-bottom: 1px solid white;
  }
  .nav-item:last-child {
    border-bottom: none;
  }
  #navbarNav ul {
    width: 100%;
  }
  .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    /* transform: translateX(-50%); */
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
  }
}

#loginSignupDropdown {
  position: absolute !important;
  top: 100% !important;
  left: 30% !important; 
  transform: none !important; 
}

#left_elements {
  position: relative;
}

#loginSignupDropdown {
  position: absolute;
  top: 100%; 
  right: 0; 
  left: auto; 
  transform: none !important; 
  min-width: 160px; 
}

@media only screen and (max-width: 992px) {
  #loginSignupDropdown {
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  #loginSignupDropdown {
    right: 0; 
  }
}

@media only screen and (max-width: 576px) {
  #loginSignupDropdown {
    right: 0; 
  }
}
